<h1> Make a new Cat!! </h1>

<form action="users_url" method="post">
    <label for='name'>Name</label>
    <input type='text' id='name' name='cat[name]'>
    <p> Please select sex of cat! </p>
    <label for='sex_m'>Male</label>
    <input type='radio' id='sex_m' name='cat[sex]' value='m'>
    <label for='sex_f'>Female</label>
    <input type='radio' id='sex_f' name='cat[sex]' value='f'>
    <label for='color'>Color</label>
    <select id='color' name='cat[color]'>
        <option disabled selected>Please select color!</option>
        <%Cat::COLORS.each do |color|%>
        <option value='<% color %>'><%= color %></option>
        <% end %>
    </select>
    
  

</form>
